/* Default styles for larger screens */
.skillset {
  text-wrap: balance;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.skillbox {
  padding: 60px;
  margin-top: 75px;
}

.skillset ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skillset h1 {
  margin-bottom: 1rem;
}

.bothsh {
  text-align: left;
  /* Removed font-weight: bold; */
  font-size: 24px;
  margin: 10px 0;
}

/* Mobile styles using media queries */
@media only screen and (max-width: 600px) {
  .skillset {
    
    flex-direction: column;
    align-items: left;
  }

  .skillbox {
    margin-top: 75px;
    padding: 30px;
  }

  .bothsh {
    text-align: left;
  }

  .skillset h1 {
    margin-bottom: 1rem;
    text-wrap: balance;
  }
}
