/* General styling for the whole app */
.App {
  text-align: center;
}

/* Styling for the app logo */
.App-logo {
  height: 40vmin;
  pointer-events: none; /* This prevents the logo from interfering with pointer events */
}

/* Animation for the app logo spin */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styling for the app */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styling for the links in the app */
.App-link {
  color: #61dafb;
}

/* Animation keyframes for the app logo spin */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
