/* Default styles for larger screens */
.homeContainer {
    font-family: serif;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 75px; /* This margin might be causing the issue */
}


img {
    clip-path: circle();
    object-fit: cover;
}

.intro {
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
}

.intro h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
}

.intro hr {
    border: 2px solid #dbd8d8;
    margin: 10px 0;
}

.intro p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
}

.SelfIntro {
    display: flex;
    text-align: left;
    padding: 130px;
    justify-content: space-evenly;
}

.SelfIntro img {
    max-width: 320px;
    height: auto;
    border-style: solid;
    border-color: #dbd8d8;
    border-radius: 50%;
    object-fit: cover;
}

.SelfIntro p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
    text-align: left;
}

/* Mobile view styles */
@media (max-width: 600px) {
    .homeContainer {
        flex-direction: column;
        text-align: center;
        margin-top: 20px; /* Adjust as needed for mobile layout */
    }

    .intro {
        max-width: 100%;
    }

    .SelfIntro {
        padding: 10px; /* Adjust padding for a more compact mobile layout */
    }

    .SelfIntro img {
        width: 180px;
        position: relative;
        top: 60px;
    }
}