/* Default styles for larger screens */
.homeContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 75px;
}

img {
    clip-path: circle();
    object-fit: cover;
}

.intro {
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
}

.intro h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
}

.intro hr {
    border: 2px solid #dbd8d8;
    margin: 10px 0;
}

.intro p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
}

.SelfIntro {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.SelfIntro img {
    max-width: 250px;
    height: auto;
    border-style: solid;
    border-color: #dbd8d8;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.SelfIntro p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
    text-align: left;
}

/* Mobile view styles */
@media (max-width: 600px) {
    .homeContainer {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .intro {
        max-width: 100%;
    }

    .SelfIntro img {
        max-width: 100%;
    }
}
