/* header.css */

.blow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px;
  color: white;
}

.myName {
  font-size: larger;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.myName a {
  text-decoration: none;
  color: #fff;
  transition: transform 0.2s ease, color 0.2s ease;
}

.myName a:hover {
  transform: translateY(-5px);
  color: #fff6f6;
}

.burger-menu {
  cursor: pointer;
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.nav {
  display: flex;
}

.myList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.myList li {
  color: white;
  font-size: larger;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0 15px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.myList li a {
  text-decoration: none;
  color: inherit;
}

.myList li:hover {
  transform: translateY(-5px);
  color: #fff6f6;
}

@media only screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .nav.active {
    display: flex;
  }

  .myList {
    flex-direction: column;
  }

  .burger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-menu.open .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
