/* Default styles for larger screens */
.Edu {
    font-family: serif;
    text-align: center;
    padding: 60px;
    margin-top: 75px; /* Adjust this value to match the height of your sticky element */
    
}

.Edu p {
    margin-bottom: 1rem;
   
    margin: 10px 0;
    line-height: 1.5;
    text-align: left;
}

.Edu h3 {
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
}

/* Mobile styles using media queries */
@media only screen and (max-width: 600px) {
    .Edu {
        margin-top: 75px;
        padding: 40px; /* Adjust padding for smaller screens */
       
    }

   
    .buttons {
        flex-direction: column; /* Stack buttons vertically on smaller screens */
    }
}
